@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');


body, button, input, select, textarea {
    font-family: 'K2D', sans-serif;
    color: white;
}

:root {
    --fundo: #082032;
    --cinza: #334756;
    --laranja: #FF4C29;
    --azul: #2FA4FF;
    --cinza-escuro: #2C394B;
}

* {box-sizing: border-box;}

html, body {
    margin: 0;
    background: var(--fundo);
}



h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

/* define a margem e a gordura da fonte */

h1, h2 {
    margin: 0;
    font-weight: 400;
}

p {
    color: #FFFFFF;
}

button {
    background: var(--laranja);
    border: 0;
    border-radius: 20px;
    padding: 8px 35px;
    color: white;
    font-weight: 700;
    font-size: 16px;

}

header {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    position: relative;
    width: 70%;
    /* conteúdo usa apenas 50% da largura */
    height: fit-content;
    padding: 0 100px;
}

header .container img {
    display:none; /*não mostra o elemento*/
}

header .container h1 {
    color: var(--azul);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    /* background: white; */
    padding: 0 50px;
    position: sticky; /*deixa a nav "grudada" na parte superior da tela*/
    top: 0;
}

nav img {
    height: 45px;
}

nav ul a {
    font-size: 20px;
    color: var(--azul);
    text-decoration: none;
    margin: 0 35px;
}


nav ul a svg {
    display: none;
}

section {
    display: flex;
    padding: 100px;
    margin-bottom: 10px;
    width: 70%;
}

section .container {
    width: 50%;
    padding-right: 50px;
}
section h1 {
    color: var(--azul);
}

section p {
    margin-top: 50%;
}

section .img-container img {
    width: 30%;
    position: absolute;
}



/*quando a tela for abaixo de 767px*/
@media(max-width:767px){
    header .container img {
        display: inline;
        height: 55px;
        margin-bottom: 80px;
    }
    nav img {
        display: none;
    }
}

/*quando a tela for abaixo de 480px*/
@media(max-width:480px){
    header .container {
        padding: 0 40px;
    }

    nav {
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 14px;
    }

    nav ul a svg {
        display: block;
    }
}