@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');


body, button, input, select, textarea {
    font-family: 'K2D', sans-serif;
    color: white;
}

:root {
    --fundo: #082032;
    --cinza: #334756;
    --laranja: #FF4C29;
    --azul: #2FA4FF;
    --cinza-escuro: #202731;
    --cinza-claro: #C5B5B5;
}

* {box-sizing: border-box;}

html, body {
    margin: 0;
    background: var(--fundo);
}



h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

/* define a margem e a gordura da fonte */

h1, h2 {
    margin: 0;
    font-weight: 400;
}

p {
    color: #FFFFFF;
}

button {
    background: var(--laranja);
    border: 0;
    border-radius: 20px;
    padding: 8px 35px;
    color: white;
    font-weight: 600;
    font-size: 16px;


}

header {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}


header .container {
    position: relative;
    width: 70%;
    /* conteúdo usa apenas 50% da largura */
    height: fit-content;
    padding: 0 100px;
}

header .container img {
    display:none; /*não mostra o elemento*/
}

header .container h1 {
    color: var(--azul);
}

header img {
    width: 15%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 50px;
    position: sticky; /*deixa a nav "grudada" na parte superior da tela*/
    top: 0;
    margin-bottom: 100px;
    z-index: 1;
}

nav img {
    height: 55px;
}

nav .links a {
    font-size: 20px;
    color: var(--azul);
    text-decoration: none;
    margin: 0 35px;
}


nav .icones {
    display: none;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 100px;
}

.about-me .container {
    margin-right: 50px;
}

.about-me .container h1 {
    color: var(--azul);
}

.about-me .img-container {
    position: relative;
    margin-left: 30px;
}

.about-me .img-container img {
    width: 60%;
    height: 50%;
}

.about-me .img-container .line {
    width: 70%;
    height: 115%;
    border: 3px solid var(--laranja);
    
    position: absolute;
    top: -10%;
    left: -5%;
}

.about-me .img-container .line.green {
    transform: rotate(-3.3deg);
}

.services {
    margin-top: 100px;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.services h1 {
    padding: 20px;
    color: var(--laranja);
}

.services .container {
    display: flex;
    justify-content: space-around;
}

.services .container .serv {
    display: flex;
    margin:10px 0 0 0;
    width: 20%;
    height: 250px;
    background: var(--cinza);
    border: 1px solid #FF4C29;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
}

.services .container .serv .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 75px;
    background: var(--cinza-escuro);
    border-radius: 50%;
    margin: 10px;
}

.services .container .serv .circle img {
    width: 50px;
    height: 50px;
}

.services .container .serv .titulo {
    color: var(--azul);
    margin: 10px;
    text-align: center;
}
.services .container .serv .texto {
    font-size: small;
    text-align: center;
    margin: 10px;
}

.portfolio {
    margin-top: 100px;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.portfolio h1 {
    padding: 20px;
    color: var(--azul);
}

.portfolio .container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.portfolio .container .serv {
    display: flex;
    margin: 10px 0 0 0;
    width: 20%;
    height: 280px;
    background: var(--cinza);
    border: 1px solid #FF4C29;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;

}

.portfolio .container .serv img {
    margin: 10px;
    width: 75%;
    height: 100px;
}

.portfolio .container .serv .linguagens {
    display: flex;
    width: 150px;
    justify-content: flex-start;
}
.portfolio .container .serv .linguagens .ling {
    border: 1px solid var(--azul);
    border-radius: 15px;
    margin-right: 2px;
}
.portfolio .container .serv .linguagens .ling div {
    font-size: x-small;
    margin: 0 3px 0 3px;
    color: var(--azul);
    opacity: 0.9;
}


.portfolio .container .serv .titulo {
    color: white;
    margin: 10px;
    font-size:  smaller;
    text-align: center;
}
.portfolio .container .serv .texto {
    font-size: small;
    text-align: center;
    color: var(--cinza-claro);
    width: 80%;
}

.curriculo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 50px 100px;
}

.curriculo img {
    width: 300px;
    height: 200px;
    margin-right: 100px;
}

.curriculo .container {
    width: 40%;
    height: 90%;
    border: 1px solid var(--cinza);
}

.curriculo .container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:  20px;
}

.curriculo .container .box h2 {
    color: var(--azul);
    margin-bottom: 10px;
}

.curriculo .container .dados-info {
    display: flex;
    font-size: small;
}

.curriculo .container .dados-info .dados {
    color: var(--cinza-claro);
}

.fim {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fim h1 {
    color: var(--laranja);
    margin:0 0 100px 0;
    text-align: center;
}

.fim .links {
    display: flex;
    margin: 100px 0 0 0;
    justify-content: space-between;
    align-items: flex-end;

}
.fim .links img{
    width: 30px;
    margin: 50px 50px 0 50px;
}

@media(max-width:906px){
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-me .container {
        margin-right: 0;
        margin-bottom: 100px;
    }
    
    .about-me .img-container {
        position: relative;
        margin-left: 0;
        display: flex;
        justify-content: center;
        width: 70%;
    }
    
    .about-me .img-container .line {
        position: absolute;
        margin-left: 20%;
        margin-top: 1%;
    }
    .services h1 {
        margin-bottom: 20px;
    }
    .services .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .services .container .serv {
        margin-bottom: 50px;
        width: 40%;
        height: fit-content;
    }
    .portfolio h1 {
        margin-bottom: 20px;
    }
    .portfolio .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .portfolio .container .serv {
        display: flex;
        margin-bottom: 50px;
        width: 40%;
        height:240px;
        flex-direction: column;
        

    }

    .portfolio .container .serv img {
        width: 150px;
        height: 100px;
    }
    .curriculo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .curriculo img {
        margin: 0;
        margin-top: -100px;
        margin-bottom: 80px;
    }
    .curriculo .container {
        width: 80%;
    }
}

/*quando a tela for abaixo de 767px*/
@media(max-width:767px){
    header {
        margin-bottom: 60px;
    }
    header .container img {
        display: inline;
        width: 40%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    nav img {
        display: none;
    }
    nav {
        display: flex;
        align-items: center;
        padding: 0 50px;
        margin: 0;
    }
    .services .container .serv {
        width: 50%;
    }

    .portfolio .container .serv {
        width: 50%;
        height: 250px;
    }
}



/*quando a tela for abaixo de 480px*/
@media(max-width:480px){
    header .container {
        padding: 0 40px;
    }
    .about-me {
        margin-top: -100px;
    }
    .about-me .img-container {
        width: 150%;
    }

    .services .container .serv {
        width: 80%;
    }

    .portfolio .container .serv {
        width: 80%;
    }
    .curriculo .container {
        width: 150%;
    }
    .curriculo img {
        width: 200px;
        height: 150px;
    }
     nav {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
        bottom: 0; 
        top: unset;
        padding: 0 15px;
    }

    nav .links {
        display: none;
    }

    nav .icones {
        display: flex;
        justify-content: space-between;
        padding: 0;

    }
    nav ul a {
        margin: 22px 22px -10px 22px;
    }

    nav ul a svg {
        color: var(--azul);
    }

}
